<html>
    <head>
        <title></title>
    </head>
    <body>
        <img class="img-logo spin-animation" src="img/techarius_small.png"> 
        <div class="dot-container">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
            <div class="dot dot4"></div>
            <div class="dot dot5"></div>
            <div class="dot dot6"></div>
        </div>
    </body>
</html>
<style>
.img-logo
{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 45%;
    top: 30%;
}
.dot-container
{
    position: fixed;
    left: 45.5%;
    top: 50%;
}
.dot
{
    width:10px;
    height:10px;
    display:inline-block;
    border-radius: 50%;
}
.dot1{
    animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2{
    animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3{
    animation: jump-up 0.6s 0.3s linear infinite;
}
.dot4{
    animation: jump-up 0.6s 0.4s linear infinite;
}
.dot5{
    animation: jump-up 0.6s 0.5s linear infinite;
}
.dot6{
    animation: jump-up 0.6s 0.6s linear infinite;
}
.spin-animation
{
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
@keyframes spin {
    from 
    {
        transform:rotate(0deg);
    }
    to 
    {
        transform:rotate(360deg);
    }
}
@keyframes jump-up{
    0%
    {
        background-color: #1abc9c;
    }
    50%{
        transform: translate(0,15px);
        background-color: navy;
    }
    100%{
        background-color: #1abc9c;
    }
}
</style>
<script>
setTimeout(function()
{
    window.location.href = "/home";
}, 3000);
</script>