/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --main-font:'Quicksand', cursive;
}
html
{
    font-family: sans-serif;
}
header
{
    height: 730px;
    width: 100%;
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.main-header
{
    text-align: center;
    transition: 1s;
}
.main-header:hover
{
    -webkit-box-shadow: 0px 11px 54px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 54px 0px rgba(0,0,0,0.75);
    box-shadow:  0px 11px 54px 0px rgba(0,0,0,0.75);
}
.main-header h1
{
    font-size: 3rem;
    font-family: var(--main-font);
    color: #513081;
}
.main-header hr
{
    width: 50%;
    margin: auto;
    padding: 5px;
    background: #7244b1;
    border: none;
}
.main-header h3
{
    font-size: 1.7rem;
    color: #c1a8e4;
}
.main-header input
{
    width: 90%;
    padding: 1rem;
    margin: 20px 0px;
    border: none;
    border-bottom: 4px solid #5f5fb0;
    font-size: 1.3rem;
    background: transparent;
    outline: none;
}
input
{
    color: #fff;
}
.main-header .buttonsr
{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: #513081;
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: 1s;
    margin: 20px;
    outline: none;
}
.main-header .buttonsr:hover
{
    transform: scale(1.2);
}
.main-header .buttonf
{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: transparent;
    color: #513081;
    border: none;
    border-radius: 50px;
    transition: 1s;
    margin: 20px;
    outline: none;
}
.main-header .buttonf:hover
{
    transform: scale(1.2);
}
:-moz-placeholder
{
    color: #fff;
}
:-ms-input-placeholder
{
    color: #fff;
}
::-webkit-input-placeholder
{
    color: #fff;
}
.logo-img
{
    /* width: 300px;
    font-size: 1.3rem;
    background-color: #fff; */
    background-color: white;
    padding: 5px;
    width: 60px;
    justify-items: center;
    border-radius: 10px;
    color: black !important;
}
