html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
body 
{
  margin:0;
}
/******** WAVES START ********/
.heading {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-size:48px;
}
.text-heading
{
  padding-top: 30px;
}
.p1 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  font-size:48px;
  color: white;
}
.p2{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: BLACK;
}
.header {
  position:relative;
  text-align:center;
  background-color: #109e92;
  /* I used a color changing bg animation in the next line but later I thought it was not a good idea.*/
  /* animation:infinite 20s change-bg; */
  color:white;
}
@keyframes change-bg {
  0%{
    background-color: #18d4e2;
  }
  25%
  {
    background-color: #109E92;
  }
  50%
  {
    background-color: #33364D;
  }
  75%
  {
    background-color: #1761a0;
  }
  100%{
    background-color: #18d4e2;
  }
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex 
{ 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-button
{
  margin-top: 5%;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
@-webkit-keyframes spin 
{ 
  100% { 
    -webkit-transform: rotate(360deg); 
  } 
}
@keyframes spin 
{ 
  100% 
  { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
/******** WAVES END ********/
/******** LOGO START ********/
.logo-img img
{
  height:3rem;
  width:3rem;
}
.logo-img img:hover
{
  -webkit-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
/******** LOGO END ********/
/******* SCROLL BAR START ********/
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#progressBarContainer 
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 100;
}
#progressBar 
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #109E92,#33364D);
  height: 0;
  opacity: 0;
  z-index: 100;
}
/******* SCROLL BAR END ********/
/****** NAVBAR START *******/
.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo
{
  background-color: white;
  padding:10px;
  border-radius: 10px;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color: #48dbfb !important;
}

.sticky{
  background-color: #33364D;
  padding: 18px 0;
}

.sticky .navbar-menu a{
  color: #fff;
}

.sticky .menu-toggler span{
  background-color: #111;
}
.navbar a{
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'QuickSand',sans-serif;
}
@media screen and (max-width: 980px)
{
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .navbar-menu.active{
    right: 0;
  }
  .sticky .menu-toggler span{
    background-color: #fff;
  }
  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
}
/****** NAVBAR END *******/
/***** HOVER EFFECT START *****/
@media screen and (max-width: 768px) {
  .h2-1st {
    width: 100%;
  }
}
.hover-1, .hover1 > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
.hover-1:before, .hover-1:after, .hover-1 > span:before, .hover-1 > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
.hover-effect-1 {
  padding: 10px;
  display: inline-block;
  overflow: hidden;
}
.hover-effect-1:before, .hover-effect-1:after {
  left: 0;
  width: 100%;
  height: 2px;
  background: #0883a4;
}
.hover-effect-1:before {
  bottom: 0;
  transform: translateX(-100%);
}
.hover-effect-1:after {
  top: 0;
  transform: translateX(100%);
}
.hover-effect-1:hover:before, .hover-effect-1:hover:after {
  transform: translateX(0);
}
/***** HOVER EFFECT ENDs *****/

/* ---------------------------------------------------------------------------*/
/*MEET THE TEAM  STARTS*/
@media (min-width: 1000px){
  .container-card{
    width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      flex-wrap: wrap;
      align-items: center;
      border-radius: 25px;
      background-color: #f2f3f7;
     box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
      inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
      inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
  }
  .container-card .card{
    background-color: #f2f3f7;
      position: relative;
      margin: 15px;
      height: 450px;
      width: 225px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 25px;
      box-shadow: -3px -3px 9px rgba(255, 255, 255, 1),
                   -3px -3px 13px rgba(255, 255, 255, 0.5), 
                   inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                   3px 3px 9px rgba(0, 0, 0, 0.15) ;
      transition: 0.3s ease-in-out;
  }
  .container-card .card::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top: -70px;
    right: -70px;
    background-color: #109E92;
    transition: 0.3s ease-in-out;
  }
  .container-card .card:hover:before{
    content: '';
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    top: -70px;
    right: -70px;
    background-color: #33364D;
    transition: 0.3s ease-in-out;
  }
  .container-card .card::after{
    content: '';
    position: absolute;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    bottom: -50px;
    left: -50px;
    background-color: #33364D;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .container-card .card:hover::after{
    background-color: #109E92;
  }
  .container-card .card .team-image{
    height: 125px;
    width: 125px;
    position: absolute;
    z-index: 1;
    top: 50px;
    border-radius: 50%;
    background: #f2f3f7;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
    inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
  }
  .container-card .card h3{
    height: fit-content;
    position: relative;
    margin-top:75px;
    text-align: center;
    z-index: 1;
    width: 90%;
    padding: 10px 15px;
    background-color: #f2f3f7;
    border-radius: 25px;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
    inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
    transition: 0.2s ease-in;
   
  }
  
  .container-card .card h3:hover{
    box-shadow: none;
    z-index: 1;
    letter-spacing: 2px;
    background-color:#109E92 ;
    color: white;
    font-weight: 700;
    
  }
  .container-card .card .list-roles{
    list-style:  none;
    text-transform: uppercase;
    z-index: 1;
    font-family: inherit  ;
    transform: translateX(-25px);
   
  }
  .container-card .card .list-roles li
  {
    text-align: center;
    font-weight: 800;
    z-index: 1;
    
    
    padding: 5px;
  }
  .container-card .card .xyz{
    position: absolute;
    height: fit-content;
    width: 80%;  z-index: 1;
    bottom: -85px;
    border-radius: 25px;
    transform: translateY(-75px) translateX(-250px);
   
    opacity: 1;background-color: #f2f3f7;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
    inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
    transition: 0.3s ease-in-out;
  }
  .container-card .card:hover .xyz{
    transform: translateX(-25px) translateY(-110px);
    opacity: 1;
    
  }
  .sci{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 8px;
    justify-content: center;
    align-items: center;
  
  }
  .sci li{
   list-style: none;
  }
  .sci li a{
    text-decoration: none;
    color: #111;
    width: 40px;
    height: 40px;
    background-color: #109E92;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) ;
  
  }
  .sci li a i{
    transform: scale(0.6);
    transition: 0.3s;
    
  }
  .sci li:hover a i{
    transform:  scale(1) rotate(360deg);
  
  }
  }


   

@media (max-width: 1000px) { 
   .container-card{
    width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      flex-wrap: wrap;
      align-items: center;
      border-radius: 25px;
      background-color: #f2f3f7;
     box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
      inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
      inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
  }
  .container-card .card{
    background-color: #f2f3f7;
      position: relative;
      margin: 15px;
      height: 300px;
      width: 250px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 25px;
      box-shadow: -3px -3px 9px rgba(255, 255, 255, 1),
                   -3px -3px 13px rgba(255, 255, 255, 0.5), 
                   inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                   3px 3px 9px rgba(0, 0, 0, 0.15) ;
      transition: 0.3s ease-in-out;
  }
  .container-card .card::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top: -70px;
    right: -70px;
    background-color: #109E92;
    transition: 0.3s ease-in-out;
  }
  .container-card .card:hover:before{
    content: '';
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    top: -70px;
    right: -70px;
    background-color: #33364D;
    transition: 0.3s ease-in-out;
  }
  .container-card .card::after{
    content: '';
    position: absolute;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    bottom: -50px;
    left: -50px;
    background-color: #33364D;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  
  .container-card .card .team-image{
    height: 125px;
    width: 125px;
    position: absolute;
    z-index: 1;
    top: 50px;
    border-radius: 50%;
    background: #f2f3f7;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
    inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
  }
  .container-card .card h3{
    height: fit-content;
    position:absolute;
    top: 100px;
    margin-top:80px;
    text-align: center;
    z-index: 1;
    width: 70%;
    padding: 10px 15px;
    background-color: #f2f3f7;
    border-radius: 25px;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
    inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
    transition: 0.2s ease-in;
   
  }
  
  .container-card .card h3:hover{
    box-shadow: none;
    z-index: 1;
    letter-spacing: 2px;
    background-color:#109E92 ;
    color: white;
    font-weight: 700;
    
  }
  .container-card .card .list-roles{
    list-style:  none;
    text-transform: uppercase;
    z-index: 1;
    font-family: inherit  ;
    transform: translateX(-25px);
   
  }
  .container-card .card .list-roles li
  {
    text-align: center;
    font-weight: 800;
    z-index: 1;
    
    
    padding: 5px;
  }
  .container-card .card .xyz{
    position: absolute;
    height: fit-content;
    width: 80%;  z-index: 1;
    bottom: -85px;
    border-radius: 25px;
    transform: translateY(-75px) translateX(-300px);
   
    opacity: 1;background-color: #f2f3f7;
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 1),
    inset -3px -3px 13px rgba(255, 255, 255, 0.5), 
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 3px 3px 9px rgba(0, 0, 0, 0.15) ;
    transition: 0.3s ease-in-out;
  }
  
  .sci{
    position: absolute;
    
    left: 37.5px;
    bottom: -2px;
    z-index: 1;
    justify-content: center;
    align-items: center;
  
  }
  .sci ul{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .sci li{
   list-style: none;
  
  }
  .sci li a{
    text-decoration: none;
    color: #111;
    width: 40px;
    height: 40px;
    background-color: #109E92;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) ;
  
  }
  .sci li a i{
    transform: scale(0.6);
    transition: 0.3s;
    
  }
  .sci li:hover a i{
    transform:  scale(1) rotate(360deg);
  
  } 
 }





/* MEET THE TEAMS STYLING END */
/********************************************/


/****** SOCIAL MEDIA ICONS STARTS ******/
.social-media{
  display: grid;
  place-items: center;
  font-family: 'QuickSand',sans-serif;
}
.footer-text
{
  display: grid;
  place-items: center;
  font-family: 'QuickSand',sans-serif;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
/****** SOCIAL MEDIA ICONS ENDS ******/
/******** CONTAINER STARTS *******/
.container-main {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2rem;
  font-family: 'QuickSand',sans-serif;
}
@media (min-width: 768px) {
  .container-main {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-main {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-main {
    width: 1170px;
  }
}
/******** CONTAINER ENDS *******/
.heading-main
{
  font-size: 5rem;
  font-family: 'Raleway',sans-serif;
  text-align: center;
}
.back-to-top {
  padding: 20px;
  border-radius: 15px;
  background-color:BLACK;
  color:white;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
/******** BUTTON DESIGN START ********/
.btn-1 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn-1 span {
  position: relative; 
  z-index: 1;
}

.btn-1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-1:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
/******** BUTTON DESIGN END ********/